.button{
  
  &-filter{
    display:flex;
    justify-content:space-between;
    align-items: center;

    &__input{
      background: transparent;
      border: none;
      padding: 0;
      margin: 0;
    }
    &__input::placeholder{
      color:$gray-400;
      margin: 0;
    }
  }
}

#inputIngredients,#inputAppliances,#inputUstensils{
  display:none;
  position: relative;
}