.dropDown {
	&__container {
		max-height: 397px;
		position: absolute;
		z-index: 99;
		top: 100%;
		overflow-y: scroll;
	}

	&__list{
		display: flex;
		flex-flow: row wrap;
	}

	&__item{
		color:white;
		font-weight: 500;
		width:33.3%;
	}
}
