.navbar{
  background:$gray-300;
  background-image: url('../../img/search.svg');
  background-repeat:no-repeat;
  background-size: 2rem;
  background-position: 98.5% 50%;

  input[type=text]{
    background:transparent;
    border-radius: 0px ;
    &:focus{
      background:transparent;
    }
  }
}